td {
  border-right: 1px solid black;
}

td:nth-of-type(1) {
  position: sticky;
  left: 0;
  background-color: white;
  z-index: 1000;
}

tr:nth-child(even) {
  background-color: #F0F0F0;
}

tr:nth-child(even) > td:nth-of-type(1) {
	background-color: #F0F0F0;
}