{% load panels %}
<div class="col-md-4">
  <div id="panelsDiv" class="btn-group-vertical">
    {% generate_panels as panels %} {% for panel in panels %}
    <a class="btn btn-panel" href="{{ panel.url }}">
      {# moved number first to fix firefox rendering issue #} {% if panel.num is not None %} {% if panel.num == 0 %}
      <span class="btn-num-nought"> {{ panel.num }}</span>
      {% else %}
      <span class="btn-num"> {{ panel.num }}</span>
      {% endif %} {% endif %}
      <span class="btn-txt"> {{ panel.name }} </span>
    </a>
    {% endfor %}
  </div>
</div>
