{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}
{% block title %} Home {% endblock %}
{% block scripts %}
  <script type="text/javascript" src="{% static 'js/bootstrap-tab-history.js' %}"></script>
  {% if isTrainee %}
  <script type="text/javascript" src="{% static 'bible_tracker/js/bible_reading.js' %}"></script>
  <script type="text/javascript">

    var isTrainee = "{{isTrainee}}";
    var worker = "{{worker}}";
    var currentWeek = "{{current_week}}";
    var finalized = "{{finalized}}";
    var bibleReadingStatus = "{{weekly_status}}";
    var weekdayCodes = {{ weekday_codes| safe}};
    var changeWeekUrl = "{% url 'bible_tracker:changeWeek' %}";
    var updateStatusUrl = "{% url 'bible_tracker:updateStatus' %}";
    var finalizeStatusUrl = "{% url 'bible_tracker:finalizeStatus' %}";
    var designatedHoursUrl = "{% url 'services:designated_service_hours' %}";
    var serviceUrl = "{% url 'services:changeWeek' %}";
    var assignedServices = "{{assigned_list|safe}}";
    var assignedDesignated = "{{designated_list|safe}}";
    var serviceDays = "{{service_day|safe}}";

    function processServices(services, days){

      var designated_list = assignedDesignated;

      // for service week row
      console.log(services, days, days.length);

      var numCols = $("#front-table").find('tr')[1].cells.length;
      console.log(numCols);
      var row = document.getElementById("service-row");
      var cell;
      var urlInsert = "<a href=\"{% url 'services:designated_service_hours' %}\">Hours</a>";
      var htmlInitInsert = "<span id=\"service-tooltip\" data-toggle=\"tooltip\" title=\"";
      var htmlLastInsert = "\" class=\"glyphicon glyphicon-ok\"></span>";
      var colIndex = 0;
      var colCount = 1;
      var reverseColCount = 8;
      var serviceIndex;

      // delete cells if already exist to load new data when the week changes
      if(numCols > 1){
        while(reverseColCount > 0){
          row.deleteCell(reverseColCount);
          reverseColCount--;
        }
      }

      if (colCount < 8){
        while(colCount < 8){
          cell = row.insertCell(colCount);
          for (serviceIndex = 0, len = days.length; serviceIndex<len; serviceIndex++) {
            if (colIndex == days[serviceIndex]){
              cell.innerHTML = htmlInitInsert + services[serviceIndex] + htmlLastInsert;
            }
          }
          colIndex++;
          colCount++;
        }
      }

      // redirect to designated hours if the trainee has designated service
      cell = row.insertCell(colCount++);
      (designated_list !== null) ? cell.innerHTML = urlInsert : cell.innerHTML = "";
    }

    function changeServiceWeek(){
      var weekId = $("#week-select").val();

      $.ajax({
          type: "GET",
          url: serviceUrl,
          dataType: "json",
          data: {
              "week": weekId,
          },
          success: function(data){
            console.log(data);
            var services = new Array();
            var services_day = new Array();

            for (var key in data) {
              services.push(key);
              services_day.push(data[key]);
            }
            processServices(services, services_day);
          },
          error: function (jqXHR, textStatus, errorThrown) {
            console.log(jqXHR, textStatus, errorThrown);
          }
      });
    }

    $(document).ready(function () {
      $("#week-select option[value='{{current_week}}']").attr("selected", "selected");

      // regex string data for display
      var service_list = assignedServices;
      var serviceDay_list = serviceDays;

      processServices(service_list, serviceDay_list);
      changetoFinalize();
      getWeeklyStatus();

      $("#week-select").on('change', changeHomepageWeek);
      $("#week-select").on('change', changeServiceWeek);

      $("#bt-button").click(function (e) {
        e.preventDefault();
        if ($('#bt-button').val() == "Finalize") {
          finalizeStatusFromHomepage();
        }
        else {
          updateStatusFromHomepage(finalized);
        }
      });

      $(".bible-selector").on('change', changetoFinalize);

    });
  </script>
  {% endif %}
  {% endblock %} {% block references %}

  <!-- Disable scaling to remove click delay on mobile for this page -->
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <!-- This css is specific for the index page for the progress bar -->
  <style type="text/css">
    .percent {
      padding: 0px;
      padding-left: 7px;
      width: 30px;
      line-height: 1;
    }

    .progress-style {
      padding-right: 0px;
    }

  </style>
  {% endblock %} {% block content %}

  <div class="container">
    <div class="row">
      <h1 class="col-md-12"> Welcome, {{ user.firstname }}! </h1>
    </div>

    {% if user.type == 'T' %}
    <!-- Trainee Search Box for TAs -->
    <!--
    <div class="row">
      <div class="col-md-4">
        <div class="btn-group-vertical">
          <div class="btn btn-panel trainee-search-container">
            <input class="btn-txt trainee-search-input" type="text" placeholder="TRAINEE SEARCH"></input>
            <span class="trainee-search-box"></span>
          </div>
        </div>
      </div>
    </div>
    -->

    {% elif user.type == 'R' or user.type == 'C' %}

    <div class="row">
      <!-- Panels -->
      {% include "_panels.html" %}

      <!-- Weekly Summary -->
      {% include "_weekly_summary.html" %}
    {% endif %}

    <!-- Cards -->
    {% spaceless %}
    {% include "_cards.html" %}
    {% endspaceless %}

    {% if schedule %}
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5 class="panel-title">Today's Schedule</h5>
      </div>
      <div class="panel-body">
        <ul>
          {% for event in schedule.todays_events %}
          <li>{{ event.name }} @ {{ event.start }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}
  </div>
  {% endblock %} {% block post_container %} {% include 'popups/announcement_popup.html' %} {% endblock %}