{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block scripts %}
<script type="text/javascript">
  $(document).ready(() => {
    $(".assign-role").on("click", function() {
      let val = $(this).val().split('-');
      $.ajax({
        type: "POST",
        url: "{% url 'gospel_trips:assign-trainee-role' pk=request.resolver_match.kwargs.pk %}",
        data: {
          'trainee_id': val[1],
          'is_contact': $(this).prop('checked'),
          'field': val[0]
        },
        success: function(data){
          if (data.success){
            new Notification(Notification.SUCCESS, 'Saved.').show();
          } else if (data.noDest){
            new Notification(Notification.ERRROR, 'Assign destination first.').show();
          } else if (data.dataError){
            new Notification(Notification.ERRROR, 'Data Error. Please contact AP.').show();
          } else if (data.badRequest){
            new Notification(Notification.ERRROR, 'Bad Request. Try again or contact AP.').show();
          }
        }
      });
    });
    if ($("#trainee_table")) {
      $("#trainee_table").DataTable({
        info: true,
        paging: false,
        autoWidth: true,
      });
    }
  });

</script>
{% endblock scripts%}

{% block content %}
<h2>{{page_title}}</h2>
<div class="panel">
  <table class="table table-bordered" id="destination_table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Destination</th>
        <th>Trainee Contact</th>
        <th>Finance Coordinator</th>
        <th>Media Coordinator</th>
        <th>Report/Stats Coordinator</th>
      </tr>
    </thead>
    <tbody>
      {% for trainee in destination.trainees.all %}
      <tr>
        <td>{{trainee.full_name}}</td>
        <td>{{destination.name}}</td>
        <td>{% if trainee in destination.trainee_contacts.all %} Yes {% endif %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% if trainees %}
<div class="panel">
  <table class="table table-bordered" id="trainee_table">
    <thead>
      <tr>
        <th>Trainee</th>
        <th>Destination</th>
        <th>Trainee Contact</th>
      </tr>
    </thead>
    <tbody>
      {% for trainee in trainees %}
        <tr>
          <td>{{trainee.name}}</td>
          <td>{{trainee.destination.name}}</td>
          <td><input class="assign-role" type="checkbox" value="trainee_contacts-{{trainee.id}}" {% if trainee.trainee_contact %}checked="checked"{% endif %}></input></td>
          <td><input class="assign-role" type="checkbox" value="finance_coords-{{trainee.id}}" {% if trainee.finance_coord %}checked="checked"{% endif %}></input></td>
          <td><input class="assign-role" type="checkbox" value="media_coords-{{trainee.id}}" {% if trainee.media_coord %}checked="checked"{% endif %}></input></td>
          <td><input class="assign-role" type="checkbox" value="stat_coords-{{trainee.id}}" {% if trainee.stat_coord %}checked="checked"{% endif %}></input></td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}
