// Variables
//------------------------------------------------------
$tooltip-background-color:               $white !default;
$tooltip-font-color:                     $blue !default;


// Exports
//------------------------------------------------------

@include exports("tooltip") {

  /**
   * tooltip
   * --------------------------------------------------
   */

  .tooltip {
    @at-root &-inner {
        color: $tooltip-font-color;
        background-color: $tooltip-background-color;
    }
    &.top &-arrow,
    &.top-left &-arrow,
    &.top-right &-arrow {
        border-top-color: $tooltip-background-color;
    }
    &.right &-arrow {
        border-right-color: $tooltip-background-color;
    }
    &.left &-arrow {
        border-left-color: $tooltip-background-color;
    }
    &.bottom &-arrow,
    &.bottom-left &-arrow, 
    &.bottom-right &-arrow {
        border-bottom-color: $tooltip-background-color;
    }
  }
    .service-row{
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        
        /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
        opacity: 0;
        transition: opacity 1s;
    }

    .service-row:hover {
        visibility: visible;
        opacity: 0;
    }
}


