{% extends "base.html" %}
{% load staticfiles %}
{% load common_tags %}


{% block title %}
  {{ view.model|model_verbose_name|title }}s
{% endblock %}

{% block content %}

<h1>{{ view.model|model_verbose_name|title }}s</h1>
    
    {% if view.request.user|is_trainee or view.request.user|is_TA and not "audio" in view.model|model_verbose_name and not "web" in view.model|model_verbose_name %}
      <div><a href="{{ view.model.get_create_url }}">Create new {{ view.model|model_verbose_name }}</a></div>
    {% endif %}

    <div class="row">
      <div class="col-md-12">
      <br>
        <table id="display_leaveslips" class="table table-condensed table-hover table-bordered table-striped">
          <thead>
            <tr>
              <th>Date</th>
              <th>Name(s)</th>
              <th>Announce</th>
              <th>Pop up</th>
              <th>Announcement</th>
              <th>Display to</th>
              <th>Status</th>
              <th>Actions</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for announcement in announcements %}
                <td>{{announcement.get_date_created}}</td>
                <td>{{announcement.requester_name}}</td>
                <td>{{announcement.announcement_date}}</td>
                <td>{{announcement.is_popup}}</td>
                <td>{{announcement.announcement}}</td>
                <td>{% include "announcements/_announcement_trainees.html" %}</td>
                <td>{{announcement.get_status_display}}</td>
                <td>
                  {% if view.request.user|is_TA %}
                    {% include announcement.get_ta_button_template %}
                  {% else %}
                    {% include announcement.get_button_template %}
                  {% endif %}

                </td>
                <td>
                  <a class="announcement_detail" href="{{announcement.get_absolute_url}}">Details</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>


{% endblock %}

{% block post_container %}
  {% include "popups/delete_modal.html" %}
{% endblock %}