{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load common_tags %}
{% bootstrap_messages %}

{% block title %}{{ view.model|model_verbose_name|title }}{% endblock %}

{% block scripts %}
{{ form.media }}
<script type="text/javascript">
  $(document).ready(() => {
    $(".select-fk").select2({width: '100%'});

    if (document.location.hash) {
	    $(".tab-pane").removeClass("active");
	    $(".nav-tabs li").removeClass("active");
	    $(document.location.hash).addClass("active");
	    $('a[href="'+document.location.hash+'"]').parent().addClass("active");
    }
  });
</script>
{% endblock %}

{% block references %}
<style type="text/css">
  .grid {
    display: grid;
    grid-template-columns: 270px 120px 525px;
    grid-template-rows: 30px repeat(3, 35px 35px 20px);
    align-items: end;
  }
</style>
{% endblock %}


{% block content %}

	<h2>{{ view.model|model_verbose_name|title }}</h2>

	{% if view.request.user|is_trainee %}
	  <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#request-tab" aria-controls="home" role="tab" data-toggle="tab">Request</a></li>
	    <li role="presentation"><a href="#trainee-history" aria-controls="profile" role="tab" data-toggle="tab">History</a></li>
	  </ul>
	{% elif view.request.user|is_TA %}
		{% block ta_tabs %}{% endblock %}
	{% endif %}

  <div class="tab-content">

    <div id="request-tab" class="tab-pane active" role="tabpanel">
      <div class="request-form">
        <form action="" method="post">
	        {% csrf_token %}
	        {% block request_form %}{% endblock %}

          {% buttons %}
            {% if not read_only %}
            <button type="submit" class="submit btn btn-primary">
              Submit
            </button>
            {% endif%}
          {% endbuttons %}

          {% block extra_form_elements %}{% endblock %}

	      </form>
      </div>
    </div>

    <div id="trainee-history" class="tab-pane" role="tabpanel">
      {% block trainee_request_table %} {% endblock %}
    </div>

    {% block ta_tab_contents %} {% endblock %}

  </div>

{% endblock %}
